#banner.indie-space__banner-container {
  padding: 0;
}

.indie-space__banner.indie-space__banner.indie-space__banner {
  margin-bottom: -4em;

  div {
    font-size: 0;
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 736px) {
    margin-bottom: -6.05em;
  }
}

.indie-game__item {
}

.indie-game__team-name {
  margin-top: .5em;
  display: block;
  font-size: .75em;
  font-weight: 500;
  color: lighten(black, 50%);
}
