{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": [2, { "allow": [__PRELOADED_STATE__] }],
  },
  "env" :{
    "browser": true,
  }
}
