// Schedule

.schedule__table {
  font-size: 14px;
}

.schedule__day {
  margin: 1.5em auto 1em;
  text-align: center;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}

.schedule__header {
  font-weight: bold;

  .schedule__table-row {
    color: white;
    background: #3A3A3A;
  }

  @include mobile {
    display: none;
  }
}

.schedule__table-col {
  width: 20%;
  padding: 1em .5em;

  border-right: 1px solid white;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .15em;

  @include mobile {
    width: 100%;
    display: block;

    border: 0;
    border-bottom: 1px solid #EFEFEF;
  }

  &--header {
    @include mobile {
      font-weight: bold;
      color: white;
      background: #3A3A3A;
    }
  }
}

.schedule__room {
  display: none;

  @include mobile {
    display: block;
    border: 2px solid #666;

    font-weight: bold;
    margin: 0 -0.5em;
    padding: .5em 1em;
  }
}

.schedule__table-row {
  &:nth-child(2n) {
    background: #EFEFEF;

    .schedule__session:nth-child(2n) {
      border-color: white;
    }
  }

  &:nth-child(2n+1) {
    .schedule__table-col {
      border-right: 1px solid #EFEFEF;

      @include mobile {
        border: 0;
      }
    }
  }

  @include mobile {
    display: block;

    &:nth-child(2n) {
      background: white;
    }
  }
}

.schedule__session {
  &:nth-child(3n) {
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid #EFEFEF;

    @include mobile {
      border: 0;
    }
  }

  &:nth-child(2n) {
        @include mobile {
      border: 0;

      margin: 0 -0.5em 1em;
      padding: 2em 1em;
      background: #EFEFEF;
    }
  }
}

.schedule__session-name {
  font-weight: 600;
}

.schedule__session-type {
  display: inline-block;
  padding: .25em .5em;
  margin-top: .5em;
  margin-right: .5em;

  font-size: 12px;
  border: 1px solid #3a3a3a;

  &:last-child {
    margin-right: 0;
  }
}
