body {
  line-height: 1.5;
  font-family: 'LantingHei TC', 'JhentHei UI', 'Jhenghei UI', Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
