@import url('https://fonts.googleapis.com/css?family=Share+Tech');

body {
  background: #EFEFEF;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#coming-soon {
  position: fixed;
  top: 50%;
  left: 50%;

  font-family: "Share Tech", sans-serif;
  font-size: 48px;

  transform: translate(-50%, -50%);
}
