@import url('https://fonts.googleapis.com/css?family=Share+Tech');

@import 'vendor/font-awesome.min';
// @import 'vendor/dopetrope';

@import 'variables';
@import 'base';

// 3rd-party
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// Modules
@import 'modules/hero-image';
@import 'modules/footer';
@import 'modules/partner';
@import 'modules/schedule';

// Layouts
@import 'layouts/home';
@import 'layouts/register';
