body {
  background-image: url("../images/bg.png");

  line-height: 1.5;
  font-family: 'LantingHei TC', 'JhentHei UI', 'Jhenghei UI', Helvetica, sans-serif;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
