.logo {
  min-height: 124px;

  background: url('../assets/tgdf_logo_2017_web.png') center no-repeat;
  background-size: contain;

  text-indent: -100em;

  overflow: hidden;
}

.cfp__button {
  margin-top: 20px;

  .button {
    font-size: 14px;
  }
}
